/*左侧内容*/
.content{
	width:950px;/*border:1px solid red;*/
	height:auto;
	margin:50px auto;
	position:relative;
}
.content-left{
	width:580px;/*border:1px solid green;*/ 
	height:550px;
}
.top{
	height:70px;
}
.top strong{
	font-size:25px;
	margin-left:5px;
}
.top ul{
	margin-top:15px;
}
.top li{
	float:left;
	margin-right:15px;
}
.top li a{
    color:#3377AA;
}
.top li:hover a{
	background:#3377AA;
	color:#fff;
}
.center{
	width:580px;/*border:1px solid red;*/
	height:300px;
	margin:50px 0;
}
.center>div{
	margin-bottom:30px;
}
.center>div>span{
	color:#007722;
	font-size:15px;
}
.center>div>a{
	color:#3377AA;
}
.center>div>a:hover{
	background:#3377AA;
	color:#fff;
}
.center>div>input:not(:last-child){
	width:80px;
	background:#FBF4EF;
	border:1px solid #E7D2C5;
	color:#777777;
	height: 23px;
	margin-left:15px;
}
.center>div>p{
	margin-top:15px;
	color:#111111;
}
.center>div textarea{
	width:578px;
	margin:12px 0;
}
.center>div>input{	cursor:pointer;}

/*右侧内容*/
.content-right{
	width:310px;/*border:1px solid blue;*/
	height: 400px;
}
.content-right .info{
	height:225px;
	width:310px;
	background:#FFF6ED;
	border-radius:6px;
	margin-bottom:15px;
}
.info img{
	margin:10px 10px 0 10px;
}
.content-right .info ul{
	margin-top:10px;
}
.content-right .info a{
	color:#3377AA;
}
.content-right .info a:hover{
	background:#3377AA;
	color:#fff;
}
.content-right .info li{margin-bottom: 2px;}
.content-right .info .tip{
	width:280px;
	margin:10px auto;
	float:left;
	border-top:1px solid #F5E9DB;
	padding:10px 0 0 10px;
}
.content-right>span{
	color:#007722;
	font-size:15px;
}
.content-right>a{
	color:#3377AA;
}
.content-right>a:hover{
	background:#3377AA;
	color:#fff;
}
.content-right>a:last-child{
	margin-top:15px;
}














