body {
  min-width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.con {
  width: 100%;
  height: 1040px;
  min-width: 1200px;
  position: relative;
  overflow: hidden;
  background: url(../img/bg.jpg) no-repeat top;
}
.con .feather {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-animation: fly 4s linear infinite alternate;
  -o-animation: fly 4s linear infinite alternate ;
  animation: fly 4s linear infinite alternate;
}
.con .width1200 {
  width: 1200px;
  height: 1040px;
  margin: 0 auto;
  z-index: 20;
  position: relative;
  padding-top: 195px;
  box-sizing: border-box;
}
.con .width1200 .slogan {
  width: 632px;
  height: 165px;
  left: 0;
  top: 170px;
  position: absolute;
}
.con .width1200 .slogan img {
  width: 100%;
  height: 100%;
}
.con .width1200 .play {
  width: 87px;
  height: 81px;
  margin: 200px 0 0 283px;
  position: relative;
}
.con .width1200 .play a {
  display: block;
  width: 87px;
  height: 81px;
}
.con .width1200 .play a img {
  width: 100%;
  height: 100%;
  -webkit-animation: run 2s linear infinite;
  animation: run 2s linear infinite;
}
.con .width1200 .fore {
  width: 377px;
  height: 186px;
  background: url(../img/fore-bg.png) no-repeat center;
  margin: 40px 0 0 120px;
  position: relative;
}
.con .width1200 .fore .fore-left {
  width: 124px;
  height: 190px;
  padding: 20px 0 0 27px;
  box-sizing: border-box;
  position: relative;
}
.con .width1200 .fore .fore-left .fore-img {
  width: 114px;
  height: 112px;
  position: relative;
}
.con .width1200 .fore .fore-left .fore-img img {
  width: 100%;
  height: 100%;
  border: 1px solid  #fcae18;
  border-radius: 6px;
}
.con .width1200 .fore .fore-left .fore-img i {
  width: 91px;
  height: 19px;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -45px;
  z-index: 20;
  display: block;
  background: url(../img/jump.png) no-repeat center;
  animation: code 3s linear infinite;
  -webkit-animation: code 3s linear infinite;
}
.con .width1200 .fore .fore-left .fore-info {
  width: 124px;
  text-align: center;
  margin-top: 5px;
}
.con .width1200 .fore .fore-left .fore-info p {
  font-size: 14px;
  color: #664e43;
}
.con .width1200 .fore .fore-left .fore-info span {
  font-size: 13px;
  color: #666666;
}
.con .width1200 .fore .fore-right {
  width: 179px;
  height: 100%;
  margin: 30px 0 0 40px;
  text-align: center;
}
.con .width1200 .fore .fore-right .fuli {
  width: 179px;
  height: 58px;
  display: block;
  background: url(../img/fuli1.png) no-repeat center;
}
.con .width1200 .fore .fore-right .fuli:hover {
  background: url(../img/fuli2.png) no-repeat center;
}
.con .width1200 .fore .fore-right p {
  font-size: 18px;
  color: #f4670b;
  font-weight: bold;
}
.con .width1200 .fore .fore-right p span {
  font-size: 28px;
  color: #e2412f;
}
.con .width1200 .main1 {
  width: 1200px;
  height: 300px;
  margin-top: 40px;
  position: relative;
}
.con .width1200 .main1 .dati {
  position: absolute;
  left: -180px;
  top: -100px;
}
.con .width1200 .main1 .main1-left {
  width: 513px;
  height: 300px;
}
.con .width1200 .main1 .main1-left .swiper1 .swiper-wrapper .swiper-slide p {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 14px;
  color: #ffffff;
}
.con .width1200 .main1 .main1-left .swiper1 .swiper-page1 {
  text-align: right;
  right: 20px;
  z-index: 10;
}
.con .width1200 .main1 .main1-left .swiper1 .swiper-page1 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}
.con .width1200 .main1 .main1-left .swiper1 .swiper-page1 .swiper-pagination-bullet-active {
  width: 23px;
  height: 10px;
  background: #F89C30;
  border-radius: 5px;
}
.con .width1200 .main1 .main1-right {
  width: 486px;
  height: 300px;
  float: left;
  padding: 17px 25px;
  box-sizing: border-box;
  background: #fff;
}
.con .width1200 .main1 .main1-right .news-top {
  width: 100%;
  height: 50px;
  position: relative;
}
.con .width1200 .main1 .main1-right .news-top ul li {
  float: left;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}
.con .width1200 .main1 .main1-right .news-top ul li a {
  color: #666666;
}
.con .width1200 .main1 .main1-right .news-top ul li.on {
  background-color: #ff9000;
  border-radius: 14px;
}
.con .width1200 .main1 .main1-right .news-top ul li.on a {
  color: #fff;
}
.con .width1200 .main1 .main1-right .news-top .more {
  position: absolute;
  right: 0;
  top: 5px;
  width: 14px;
  height: 14px;
}
.con .width1200 .main1 .main1-right .news-top .more a {
  display: block;
}
.con .width1200 .main1 .main1-right .news-here {
  display: none;
}
.con .width1200 .main1 .main1-right .news-here .news-center {
  width: 100%;
  height: 100px;
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  box-sizing: border-box;
}
.con .width1200 .main1 .main1-right .news-here .news-center .title {
  letter-spacing: 0px;
  color: #333333;
  font-weight: normal;
}
.con .width1200 .main1 .main1-right .news-here .news-center .title-info {
  font-size: 14px;
  color: #cccccc;
  margin-top: 10px;
}
.con .width1200 .main1 .main1-right .news-here .news-list {
  margin-top: 10px;
}
.con .width1200 .main1 .main1-right .news-here .news-list ul {
  width: 100%;
  height: 100%;
}
.con .width1200 .main1 .main1-right .news-here .news-list ul li {
  width: 100%;
  height: 40px;
}
.con .width1200 .main1 .main1-right .news-here .news-list ul li a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #666666;
}
.con .width1200 .main1 .main1-right .news-here .news-list ul li span {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #cccccc;
  float: right;
}
.con .width1200 .main1 .main1-right .news-here .news-list ul li:hover a {
  color: #ff9000;
}
.con .width1200 .main1 .main1-right .news-here .news-list ul li:hover span {
  color: #333;
}
.con .width1200 .main1 .main1-right .news-to {
  display: block;
}
.con .width1200 .main1 .kun {
  width: 200px;
  height: 300px;
  background: url(../img/kun.png) no-repeat center;
}
.con .width1200 .main1 .kun .look {
  width: 65px;
  display: block;
  font-size: 16px;
  color: #eb6100;
  margin: 105px 0 0 75px;
}
.main2 {
  width: 100%;
  height: 1550px;
  position: relative;
  min-width: 1200px;
  background: url(../img/main2.jpg) no-repeat center;
}
.main2 .main2-con {
  width: 1200px;
  height: 1550px;
  margin: 0 auto;
}
.main2 .main2-con .one {
  width: 100%;
  height: 420px;
  padding-top: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.main2 .main2-con .one .file {
  width: 514px;
  height: 100%;
}
.main2 .main2-con .one .file .file-center {
  width: 100%;
  height: 330px;
  background: #fff;
  margin-top: 12px;
}
.main2 .main2-con .one .file .file-center .file-top {
  width: 100%;
  height: 110px;
}
.main2 .main2-con .one .file .file-center .file-top ul {
  width: 100%;
  height: 100%;
}
.main2 .main2-con .one .file .file-center .file-top ul li {
  width: 50%;
  height: 100%;
  float: left;
}
.main2 .main2-con .one .file .file-center .file-top ul li a {
  display: block;
  width: 257px;
  height: 110px;
}
.main2 .main2-con .one .file .file-center .file-top ul li a.zl {
  background: url(../img/file4.png) no-repeat center top;
}
.main2 .main2-con .one .file .file-center .file-top ul li a.gl {
  background: url(../img/file5.png) no-repeat center top;
}
.main2 .main2-con .one .file .file-center .file-top ul li.on a.zl {
  height: 110px;
  background: url(../img/file2.png) no-repeat center top;
}
.main2 .main2-con .one .file .file-center .file-top ul li.on a.gl {
  width: 257px;
  overflow: hidden;
  height: 110px;
  background: url(../img/way-on.png) no-repeat center top;
}
.main2 .main2-con .one .file .file-center .file-this {
  width: 100%;
  height: 220px;
}
.main2 .main2-con .one .file .file-center .file-this .file-here {
  width: 100%;
  height: 220px;
  position: relative;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list {
  width: 90%;
  margin: 10px auto;
  display: none;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list li {
  width: 100%;
  height: 40px;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list li a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #666666;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list li span {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #cccccc;
  float: right;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list li:hover a {
  color: #ff9000;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list li:hover span {
  color: #333;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .list-show {
  display: block;
}
.main2 .main2-con .one .file .file-center .file-this .file-here .file-more {
  position: absolute;
  width: 135px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  border: 1px dashed rgba(252, 174, 24, 0.9);
  opacity: 0.9;
  display: inline-block;
  left: 50%;
  margin-left: -77px;
  bottom: 40px;
  text-align: center ;
  font-size: 18px;
  color: #ec6b2b;
}
.main2 .main2-con .one .product {
  width: 680px;
  height: 100%;
  margin-left: -1px;
}
.main2 .main2-con .one .product .pro-bg {
  width: 100%;
  height: 330px;
  margin-top: 15px;
  position: relative;
}
.main2 .main2-con .one .product .pro-bg .swiper2 .swiper-slide {
  width: 100%;
  height: 330px;
  position: relative;
}
.main2 .main2-con .one .product .pro-bg .swiper2 .swiper-slide img {
  width: 100%;
  height: 100%;
}
.main2 .main2-con .one .product .pro-bg .swiper2 .swiper-slide .pro-bot {
  width: 625px;
  height: 23px;
  position: absolute;
  left: 20px;
  bottom: 100px;
  z-index: 10;
}
.main2 .main2-con .one .product .pro-bg .swiper2 .swiper-slide .pro-bot p {
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}
.main2 .main2-con .one .product .pro-bg .swiper2 .swiper-slide .pro-bot p:last-child {
  font-size: 16px;
  font-weight: normal;
}
.main2 .main2-con .one .product .pro-bg .pro-sm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 10;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide {
  width: 660px;
  height: 70px;
  margin: 10px auto;
  position: relative;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper3 {
  width: 620px!important;
  position: relative;
  margin: 0 auto;
  margin-left: 20px;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper3 .swiper-wrapper {
  width: 100000px;
  position: relative;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper3 .swiper-wrapper .swiper-slide {
  width: 143px!important;
  height: 70px;
  margin-right: 15px!important;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper3 .swiper-wrapper .swiper-slide img {
  border: 2px solid #B5B5B5;
  opacity: 0.8;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper3 .swiper-wrapper .swiper-slide .swiper-img3 {
  border: 2px solid #e7743c;
  opacity: 1;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper-prev3 {
  width: 12px;
  height: 31px;
  position: absolute;
  left: 0px;
  background: url(../img/pro-left.png) no-repeat center;
  z-index: 10;
  opacity: 1;
}
.main2 .main2-con .one .product .pro-bg .pro-sm .sm-slide .swiper-next3 {
  width: 12px;
  height: 31px;
  position: absolute;
  right: 0px;
  background: url(../img/pro-left.png) no-repeat center;
  transform: rotate(180deg);
  z-index: 10;
}
.main2 .main2-con .special {
  width: 100%;
  height: 444px;
}
.main2 .main2-con .special > img {
  margin-bottom: -10px;
}
.main2 .main2-con .special .swiper-prev {
  width: 36px;
  height: 108px;
  background: url(../img/spec-left.png) no-repeat center;
}
.main2 .main2-con .special .swiper-next {
  width: 36px;
  height: 108px;
  background: url(../img/spec-right.png) no-repeat center;
}
.main2 .main2-con .special .swiper-prev:hover {
  background: url(../img/spec-on.png) no-repeat center;
  transform: rotate(180deg);
}
.main2 .main2-con .special .swiper-next:hover {
  background: url(../img/spec-on.png) no-repeat center;
}
.main2 .main2-con .special .swiper-pagination {
  bottom: 20px;
}
.main2 .main2-con .special .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}
.main2 .main2-con .special .swiper-pagination .swiper-pagination-bullet-active {
  width: 23px;
  height: 10px;
  background-image: linear-gradient(0deg, #ff9a2d 0%, #e7743c 100%), linear-gradient(#e7743c, #e7743c);
  background-blend-mode: normal,
          normal;
  border-radius: 5px;
}
.main2 .main2-con .zhubo {
  width: 100%;
  height: 600px;
  padding-top: 70px;
  box-sizing: border-box;
}
.main2 .main2-con .zhubo > img {
  margin-top: -10px;
}
.main2 .main2-con .zhubo .zhubo-center {
  width: 100%;
  height: 436px;
  background: #fff;
  margin-top: 20px;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left {
  width: 935px;
  height: 436px;
  overflow: hidden;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide ul li {
  width: 935px;
  height: 100%;
  display: none;
  position: relative;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide ul li p {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 14px;
  color: #ffffff;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide ul li.zhubo-active {
  display: block;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide .zhubo-page {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 10;
  width: 81px;
  height: 11px;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide .zhubo-page span {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide .zhubo-page span:last-child {
  margin-right: 0px;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-left .zhubo-slide .zhubo-page span.zhubo-on {
  width: 23px;
  height: 10px;
  background-image: linear-gradient(0deg, #ff9a2d 0%, #e7743c 100%), linear-gradient(#e7743c, #e7743c);
  background-blend-mode: normal,
                normal;
  border-radius: 5px;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right {
  width: 254px;
  height: 100%;
  position: relative;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right > div {
  width: 250px;
  height: 114px;
  border: 2px solid #B5B5B5;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right > div img {
  width: 100%;
  height: 100%;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right > div p {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 14px;
  color: #ffffff;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right > div.active {
  border: 2px solid #eb6100;
  position: relative;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right > div.active:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 7px 7px 7px 0;
  border-style: solid;
  border-color: transparent #eb6100 transparent transparent;
  top: 40%;
  left: -7px;
}
.main2 .main2-con .zhubo .zhubo-center .zhubo-right .zhubo-more {
  position: absolute;
  width: 135px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  border: 1px dashed rgba(252, 174, 24, 0.9);
  opacity: 0.9;
  display: inline-block;
  left: 50%;
  margin-left: -77px;
  bottom: 20px;
  text-align: center ;
  font-size: 18px;
  color: #ec6b2b;
}
/*底部*/
.bottom {
  width: 100%;
  height: 180px;
  background-color: rgba(43, 43, 43, 0.9);
  opacity: 0.9;
  padding-top: 30px;
  box-sizing: border-box;
}
.bottom .foot {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}
.bottom .foot ul {
  width: 100%;
  height: 100%;
}
.bottom .foot ul li {
  width: 315px;
  height: 120px;
  float: left;
}
.bottom .foot ul li .foot-left {
  width: 114px;
  height: 114px;
  border: 2px solid #C6C6C6;
}
.bottom .foot ul li .foot-left img {
  width: 114px;
  height: 114px;
}
.bottom .foot ul li .foot-right {
  width: 120px;
  height: 120px;
  margin-left: 10px;
  position: relative;
}
.bottom .foot ul li .foot-right .wb {
  font-size: 18px;
  color: #f99d34;
  line-height: 30px;
}
.bottom .foot ul li .foot-right .get {
  font-size: 12px;
  color: #f0e7d1;
}
.bottom .foot ul li .foot-right .title {
  position: absolute;
  left: 0;
  bottom: 0px;
  font-size: 12px;
  color: #f0f0f0;
}
.bottom .foot ul li .foot-right .title span {
  color: #f99d34;
}
.bottom .foot ul li:last-child {
  width: 250px;
  float: right!important;
}
.bottom .foot ul li:last-child .foot-left {
  text-align: center;
  height: 118px;
  line-height: 155px;
  border: 1px solid #616162;
}
.bottom .foot ul li:last-child img {
  width: 51px;
  height: 59px;
}
@keyframes fly {
  0% {
    transform: translate3d(10px, 10px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, 10px, 0);
  }
}
@keyframes run {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes code {
  0% {
    top: 0px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}
