@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../font/glyphicons-halflings-regular.eot');
  src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.border-red {
  border: 1px solid #FA003A!important;
}
.border-hui {
  border: 1px solid #E2E2E2!important;
}
.display-show {
  display: block!important;
}
.display-hide {
  display: none!important;
}
.border-bot-blank {
  border-bottom: 1px solid #646464!important;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.clear {
  clear: both;
}
html,
body {
  min-height: 100%;
  background: #F6F6F6;
}
header {
  width: 100%;
  height: 95px;
  line-height: 95px;
  background: #FA003A;
  position: relative;
}
header .nav {
  position: relative;
}
header .logo {
  margin-top: -10px;
}
header h2 {
  display: inline-block;
  color: #fff;
  font-size: 28px;
  margin-left: 30px;
}
header .admin {
  position: absolute;
  right: 0px;
  top: 0px;
}
header .admin img {
  border-radius: 50%;
}
header .admin .roger {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
}
header .admin .down {
  display: inline-block;
  width: 17px;
  height: 10px;
  background: url(../img/down.png) no-repeat;
}
/*导航*/
.direct {
  width: 100%;
  height: 62px;
  line-height: 58px;
  background: #FFFFFF;
}
.direct li {
  float: left;
  width: 13%;
  text-align: center;
  margin: 0 20px;
  box-sizing: border-box;
}
.direct li a {
  color: #a8a8a8;
  font-size: 15px;
}
.direct .on {
  border-bottom: 2px solid #FA003A;
}
.direct .on a {
  color: #FA003A;
}
/*项目中心*/
.project {
  width: 100%;
  height: 100%;
}
.project .pro-top {
  height: 120px;
  line-height: 120px;
}
.project .pro-top .pro-left {
  float: left;
}
.project .pro-top .pro-left h2 {
  display: inline-block;
  font-weight: 900;
  margin: 30px 20px 0 0;
  color: #404040;
}
.project .pro-top .pro-left img {
  margin-top: -10px;
}
.project .pro-top .pro-right {
  float: right;
}
.project .pro-top .pro-right ul {
  width: 300px;
  height: 50px;
  line-height: 30px;
  border: 1px solid #DFDFDF;
  border-radius: 30px;
  float: left;
  margin: 35px 80px 0 0;
}
.project .pro-top .pro-right ul li {
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid #DFDFDF;
  margin: 10px 0;
  cursor: pointer;
}
.project .pro-top .pro-right ul li a {
  color: #a8a8a8;
  font-size: 15px;
}
.project .pro-top .pro-right ul li:last-child {
  border-right: none;
}
.project .pro-top .pro-right ul .pro-on a {
  color: #FA003A;
}
.project .pro-top .pro-right input {
  width: 300px;
  height: 50px;
  border: 1px solid #DFDFDF;
  border-radius: 30px;
  background: #FDFDFD url(../img/search.jpg) no-repeat 20px center;
  color: #a8a8a8;
  text-indent: 50px;
  outline: none;
}
.project .pro-top .pro-right input ::webkit-input-placeholder {
  color: #a8a8a8;
}
.project .pro-center {
  height: auto;
  position: relative;
}
.project .pro-center .all {
  display: none;
}
.project .pro-center .all-on {
  display: block;
}
.project .pro-center .sdk {
  width: 349.64px;
  height: 400px;
  background: #fff;
  margin-right: 30px;
  padding: 20px 15px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  transition: all .5s ease;
  box-shadow: 0px 1px 15px 2px rgba(121, 121, 121, 0.06);
}
.project .pro-center .sdk:hover {
  box-shadow: 0px 1px 15px 2px rgba(247, 8, 64, 0.06);
  border: solid 1px #f70840;
  transform: translateY(-5px);
}
.project .pro-center .sdk:hover .sdk-v {
  background: #F4F4F4;
}
.project .pro-center .sdk:nth-child(3n+0) {
  margin-right: 0px;
}
.project .pro-center .sdk .country {
  width: 90%;
  margin: 0 auto;
}
.project .pro-center .sdk .country .h4 {
  display: inline-block;
}
.project .pro-center .sdk .country img {
  margin: -5px 0 0 10px;
}
.project .pro-center .sdk .country .edit {
  float: right;
  color: #a8a8a8;
  letter-spacing: 2px;
}
.project .pro-center .sdk .sdk-v {
  width: 90%;
  height: 240px;
  background: #FFFFFF;
  border: 1px dashed #dadada;
  margin: 20px auto;
  padding: 0 10px;
}
.project .pro-center .sdk .sdk-v .h3 {
  font-weight: bold;
}
.project .pro-center .sdk .sdk-v p {
  color: #a8a8a8;
}
.project .pro-center .sdk .sdk-v .sdk-step {
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px dashed #dadada;
  position: relative;
}
.project .pro-center .sdk .sdk-v .sdk-step input {
  outline: none;
  width: 65px;
  height: 32px;
  border-radius: 2px;
  font-size: 16px;
}
.project .pro-center .sdk .sdk-v .sdk-step .task {
  background-color: #ffffff;
  border: 1px solid #4c515d;
  color: #858c9b;
}
.project .pro-center .sdk .sdk-v .sdk-step .flow {
  background-color: #858c9b;
  color: #fff;
  float: right;
  border: none;
}
.project .pro-center .sdk .sdk-v .sdk-step .flow-num {
  position: absolute;
  right: -5px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #f70840;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.project .pro-center .sdk .sdk-v .sdk-step .sdk-b {
  margin-top: 40px;
}
.project .pro-center .sdk .sdk-v .sdk-step .sdk-b div {
  display: inline;
  font-size: 14px;
}
.project .pro-center .sdk .sdk-v .sdk-step .sdk-b div:last-child {
  float: right;
}
.project .pro-center .sdk .sdk-v .sdk-step .sdk-b .star {
  color: #a8a8a8;
}
.project .pro-center .sdk .sdk-v .sdk-step .sdk-b .num {
  color: #404040;
  font-weight: bold;
}
.project .pro-center .sdk .sdk-bonus {
  width: 90%;
  margin: 0 auto;
}
.project .pro-center .sdk .sdk-bonus div {
  display: inline;
  font-size: 24px;
}
.project .pro-center .sdk .sdk-bonus .bonus1 {
  float: left;
}
.project .pro-center .sdk .sdk-bonus .bonus2 {
  float: right;
}
.project .pro-center .sdk .sdk-bonus .bonus {
  color: #a8a8a8;
}
.project .pro-center .sdk .sdk-bonus .num,
.project .pro-center .sdk .sdk-bonus .bug {
  color: #404040;
  font-weight: normal;
}
.project .pro-center .sdk .sdk-bonus .jine {
  color: #404040;
}
.project .pro-center .sdk .sdk-bonus .bug {
  float: right;
}
.project .pro-center .wrong .sdk-step .flow {
  background: #ffffff!important;
  border: 1px solid #4c515d!important;
  color: #858c9b!important;
}
.project .pro-center .wrong .sdk-v {
  background: #FFFFFF;
}
.project .pro-center .wrong .finish {
  margin-right: 6%;
  color: #404040;
}
/*加载中*/
.loading {
  margin: 20px auto;
  text-align: center;
}
.loading img {
  width: 25px;
  height: 25px;
}
.loading span {
  color: #848484;
  margin-left: 15px;
}
/*加载动画*/
.project {
  opacity: 0;
}
.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.98) translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.98) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.an-fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/*克隆*/
.clone-box {
  display: none;
}
/*弹窗*/
.project-modal {
  border-radius: none;
  height: 100%;
}
.project-modal .modal-dialog {
  width: 900px;
  margin-top: 15%;
}
.project-modal .modal-content {
  padding: 10px 20px;
}
.project-modal .modal-content .modal-header {
  position: relative;
  border-bottom: 1px dashed #DDDDDD;
}
.project-modal .modal-content .modal-header .close {
  position: absolute;
  right: -60px;
  top: -30px;
  opacity: 1;
}
.project-modal .modal-content .modal-header .close img {
  width: 30px;
  height: 30px;
}
.project-modal .modal-content .modal-header .modal-title {
  font-size: 32px;
  color: #404040;
}
.project-modal .modal-content .modal-body {
  border-bottom: none;
}
.project-modal .modal-content .modal-body input {
  height: 40px;
  border: 1px solid #E2E2E2;
  outline: none;
  margin-bottom: 20px;
  text-indent: 15px;
}
.project-modal .modal-content .modal-body input:focus {
  border: 1px solid #646464;
}
.project-modal .modal-content .modal-body .name {
  width: 22.86%;
  margin-right: 20px;
}
.project-modal .modal-content .modal-body #member {
  width: 22.86%;
  margin-left: 20px;
}
.project-modal .modal-content .modal-body .btn1,
.project-modal .modal-content .modal-body .btn2 {
  width: 23.2%;
  height: 40px;
  margin-top: -2px;
}
.project-modal .modal-content .modal-body .btn1 .toggle,
.project-modal .modal-content .modal-body .btn2 .toggle {
  position: relative;
  width: 100%;
  border: none;
  background: white!important;
  box-shadow: none;
}
.project-modal .modal-content .modal-body .btn1 .toggle .flow,
.project-modal .modal-content .modal-body .btn2 .toggle .flow,
.project-modal .modal-content .modal-body .btn1 .toggle .status,
.project-modal .modal-content .modal-body .btn2 .toggle .status {
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}
.project-modal .modal-content .modal-body .btn1 .toggle .flow:focus,
.project-modal .modal-content .modal-body .btn2 .toggle .flow:focus,
.project-modal .modal-content .modal-body .btn1 .toggle .status:focus,
.project-modal .modal-content .modal-body .btn2 .toggle .status:focus {
  border: 1px solid #646464;
}
.project-modal .modal-content .modal-body .btn1 .toggle:focus,
.project-modal .modal-content .modal-body .btn2 .toggle:focus {
  box-shadow: none!important;
}
.project-modal .modal-content .modal-body .btn1 .toggle .caret,
.project-modal .modal-content .modal-body .btn2 .toggle .caret {
  position: absolute;
  right: 10px;
  top: 15px;
}
.project-modal .modal-content .modal-body .btn1 .dropdown-menu,
.project-modal .modal-content .modal-body .btn2 .dropdown-menu {
  border-radius: 0px;
  width: 100%;
  margin-top: -1px;
  padding: 10px 0;
  border: 1px solid #646464;
}
.project-modal .modal-content .modal-body .btn1 .dropdown-menu li > a:hover,
.project-modal .modal-content .modal-body .btn2 .dropdown-menu li > a:hover {
  background-color: #FFF4F7;
}
.project-modal .modal-content .modal-body .btn1 .dropdown-menu li > a,
.project-modal .modal-content .modal-body .btn2 .dropdown-menu li > a {
  padding: 5px 12px;
}
.project-modal .modal-content .modal-body .btn1 .dropdown-menu span,
.project-modal .modal-content .modal-body .btn2 .dropdown-menu span {
  font-weight: bold;
}
.project-modal .modal-content .modal-body .version,
.project-modal .modal-content .modal-body .money {
  margin-right: 20px;
}
.project-modal .modal-content .modal-body .version {
  width: 22.9%;
}
.project-modal .modal-content .modal-body .money {
  width: 23%;
}
.project-modal .modal-content .modal-body input[type='number'] {
  -webkit-appearance: textfield;
}
.project-modal .modal-content .modal-body input[type=number]::-webkit-inner-spin-button,
.project-modal .modal-content .modal-body input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.project-modal .modal-content .modal-body .project-modal .modal-content .modal-body .open > .dropdown-toggle.btn-default {
  border-bottom: 1px solid #646464;
}
.project-modal .modal-content .modal-body .open > .dropdown-toggle.btn-default {
  background-color: white!important;
}
.project-modal .modal-content .modal-body .bootstrap-select {
  margin-left: 20px;
  margin-top: -40px;
  height: 40px;
}
.project-modal .modal-content .modal-body .bootstrap-select button {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  outline: none!important;
}
.project-modal .modal-content .modal-body .bootstrap-select button:hover {
  background-color: white;
  border-color: #DDDDDD;
}
.project-modal .modal-content .modal-body .bootstrap-select button:focus {
  outline: none!important;
  border: 1px solid #646464;
  background-color: white;
}
.project-modal .modal-content .modal-body .bootstrap-select .dropdown-menu {
  margin-top: 20px;
  border: 1px solid #646464;
  border-radius: 0px;
  border-top: none;
}
.project-modal .modal-content .modal-body .bootstrap-select .dropdown-menu .bs-searchbox input {
  margin-top: 0px;
  height: 30px;
}
.project-modal .modal-content .modal-body .bootstrap-select .dropdown-menu .selectpicker {
  border: none;
  margin-top: 0px;
}
.project-modal .modal-content .modal-body .bootstrap-select .dropdown-menu > li > a:hover,
.project-modal .modal-content .modal-body .bootstrap-select .dropdown-menu > li > a:focus {
  background-color: #FFF4F7;
}
.project-modal .modal-content .modal-body .day {
  position: relative;
  float: right;
  width: 48.2%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #E2E2E2;
  text-indent: 15px;
}
.project-modal .modal-content .modal-body .day span {
  color: #ACACAC;
  font-size: 16px;
}
.project-modal .modal-content .modal-body .day #day1,
.project-modal .modal-content .modal-body .day #day2 {
  border: none;
  height: 30px;
  width: 120px;
  margin-left: 5%;
  position: relative;
}
.project-modal .modal-content .modal-body .day #day1:focus,
.project-modal .modal-content .modal-body .day #day:focus {
  border: none;
}
.project-modal .modal-content .modal-body .day .line {
  width: 30px;
  margin-left: 20px;
  border: 0.5px solid #ACACAC;
  display: inline-block;
}
.project-modal .modal-content .modal-body .day .cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}
.project-modal .modal-content .modal-body .form-control {
  width: 100%;
  outline: none;
  margin: 0 auto;
  resize: none;
  margin-top: 20px;
}
.project-modal .modal-content .modal-body .form-control:focus {
  border: 1px solid #646464;
  box-shadow: none;
}
.project-modal .modal-content .modal-footer {
  height: 70px;
  border-top: none;
  font-size: 16px;
}
.project-modal .modal-content .modal-footer .remark,
.project-modal .modal-content .modal-footer .remark1 {
  float: left;
  color: #FA003A;
  font-size: 12px;
  display: none;
}
.project-modal .modal-content .modal-footer a {
  color: #FA003A;
}
.allot th {
  height: 20px!important;
  vertical-align: middle;
  padding-left: 4%;
  border-bottom: 1px solid #EBEBEB;
}
.allot tr:first-child {
  border-top: none!important;
}
.allot .check1 {
  display: none;
}
.allot .check1 + label {
  margin-top: 10px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  position: relative;
}
.allot .check1 + label:active,
.allot .check1:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.allot .check1:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.allot .check1:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}
.allot .table > tbody > tr > td > input {
  height: 30px;
  line-height: 30px;
  border: none;
  outline: none;
}
.allot td,
.allot th {
  width: 18%!important;
}
.allot td:first-child,
.allot th:first-child {
  width: 5%!important;
}
.allot th {
  padding-left: 4.5%!important;
  border-bottom: none!important;
}
.allot th:nth-child(4) {
  padding-left: 3.5%!important;
}
.allot th:nth-child(6),
.allot th:nth-child(7) {
  width: 9%!important;
}
.allot .this {
  width: 9%!important;
  text-align: center;
}
/*弹窗*/
.modal .modal-dialog .modal-content .modal-body .name {
  width: 48.5%;
}
.modal .modal-dialog .modal-content .modal-body .name:first-child {
  width: 48.5%!important;
  margin-left: 0px!important;
}
.modal .modal-dialog .modal-content .modal-body #time,
.modal .modal-dialog .modal-content .modal-body #scale {
  margin-right: 0px!important;
}
.modal .modal-dialog .modal-content .modal-body #time {
  margin-left: 20px!important;
}
.modal .modal-dialog .modal-content .modal-body #score,
.modal .modal-dialog .modal-content .modal-body #scale {
  margin-bottom: 0px!important;
}
